.start-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 3%;
}

.banner-container {
	height: 80%;
	width: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 7px;
}

.banner-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.hero-container {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 10px;
}

.header-title {
	color: rgb(223, 223, 223);
}

.header-subtitle {
	color: rgb(171, 171, 171);
}

.controls-container {
	padding-top: 1%;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	padding-right: 10px;
}

.play-image {
	padding: 20px;
}

.leaderboard-image {
	padding: 19px;
}

.play-button-container {
	display: grid;
	place-items: center;
	height: 70px;
	width: 70px;
	position: relative;
	border-radius: 50%;
	padding: 5px;
	background-color: #58B760;
}

.leaderboard-button-container {
	display: grid;
	place-items: center;
	height: 70px;
	width: 70px;
	position: relative;
	border-radius: 50%;
	background-color: #D261BF;
}

.play-button-container:hover,
.leaderboard-button-container:hover {
	transform: scale(1.1);
	transition: all 0.1s ease-in-out;
}